body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.Main {
    width: 800px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-top: 1px solid black;
}
img{
    max-width: 100%;
    max-height: 100%
}

.title{
    border-top: none;
    text-align: left;
    width: 800px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.tip {
    width: 800px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #def6ed; /*raar maar kleur komt niet overeen met wat het voorbeeld zegt*/
    border-radius: 4px;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 4px 2px;
    text-decoration: none;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .Menu {
      text-align: center;
  }

  p{
    font-size: 20px;
    line-height: 26px;
  }
  h1{
    font-size: 36px;
    line-height: 36px;
  }
  h3{
    font-size: 32px;
    line-height: 32px;
  }
  .pareen{
      font-size: 24px;
      line-height: 32px;
  }
.Ingre{
    line-height: 15px;  /* ze eten elkaar op onder de 15 */
}
.Stap{
    line-height: 20px;
}
